@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Version - 4</h1>
=======
    <h1 class="display-4">Version - 3</h1>
>>>>>>> 06a3f864b4289424b2cc9e45ece6e8d7b6ac76d2
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
